button {
    font-family: 'Courier New', Courier, monospace, serif;
    margin: 8px;
    background-color: lavender;
    color: navy;
    border: 2px solid lightgrey;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    letter-spacing: 0.04em;
    transition: all 0.15s ease;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }

  p {
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 13px;
    padding-left: 8px;
  }
  