
table {
  font-family: 'Courier New', Courier, monospace, serif;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}

td{
  padding: 3px 2px;
}

th {
  font-size: 16px;
  font-weight: bold;
  color: navy;
  padding: 3px 2px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

button, #submit {
  font-family: 'Courier New', Courier, monospace, serif;
  margin: 8px;
  background-color: lavender;
  color: navy;
  border: 2px solid lightgrey;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
  padding: 5px 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

#submit {
  padding: 4px 0px;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

button.add {
  margin: 20px, 5px, 5px, 5px,;
  font-size: 14px
}

input {
  font-family: 'Courier New', Courier, monospace, serif;
  background-color: white;
  width: 70%;
  text-align: center;
  font-size: 13px;
  color: black;
  border: 2px solid lightgrey;
  border-radius: 4px;

}
input.error {
  border: 2px solid red;
  border-radius: 4px;
}

p {
  font-weight: bolder;
}